@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #000000;
  --primary-light: #404040;
  background: #faf8f0;
}

@layer base {
  button {
    @apply px-8 py-4 mr-5 border rounded-full bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white;
  }
  li {
    @apply p-4 text-sm font-bold hover:underline;
  }
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 1000;
  font-style: normal;
}
